<%- include('../partials/header') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/flights/<%= flightId %>/tickets" method="POST">
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">

</form>



</body>
</html>