<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <input type="text" name="airline" />
  <label>Flight Number:</label>
  <input type="text" name="flightNo" />
  <label>Airport</label>
  <select name="airport">
    <option value="DEN">DEN</option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="date" name="departs">
  <input type="submit" value="Add Flight" />
</form>

